<!DOCTYPE html>
<html lang="zh">

{% include '__head.html' %}

<body class="page-body login-page">
    <!-- TS15929810572279: Xenon - Boostrap Admin Template created by Laborator / Please buy this theme and support the updates -->
    <div class="login-container">
        <div class="row">
            <div class="col-sm-6">
                <script type="text/javascript">
                    jQuery(document).ready(function ($) {
                        // Reveal Login form
                        setTimeout(function () { $(".fade-in-effect").addClass('in'); }, 1);

                        // Validation and Ajax action
                        $("form#login").validate({
                            rules: {
                                username: {
                                    required: true
                                },
                                passwd: {
                                    required: true
                                }
                            },
                            messages: {
                                username: {
                                    required: 'Please enter your username.'
                                },
                                passwd: {
                                    required: 'Please enter your password.'
                                }
                            },
                            // Form Processing via AJAX
                            submitHandler: function (form) {
                                show_loading_bar(70); // Fill progress bar to 70% (just a given value)
                                var opts = {
                                    "closeButton": true,
                                    "debug": false,
                                    "positionClass": "toast-top-full-width",
                                    "onclick": null,
                                    "showDuration": "300",
                                    "hideDuration": "1000",
                                    "timeOut": "5000",
                                    "extendedTimeOut": "1000",
                                    "showEasing": "swing",
                                    "hideEasing": "linear",
                                    "showMethod": "fadeIn",
                                    "hideMethod": "fadeOut"
                                };
                                $.ajax({
                                    url: "#",
                                    method: 'POST',
                                    dataType: 'json',
                                    data: {
                                        do_login: true,
                                        username: $(form).find('#username').val(),
                                        passwd: $(form).find('#passwd').val(),
                                    },
                                    success: function (resp) {
                                        show_loading_bar({
                                            delay: .5,
                                            pct: 100,
                                            finish: function () {
                                                // Redirect after successful login page (when progress bar reaches 100%)
                                                if (resp.accessGranted) {
                                                    window.location.href = '#';
                                                }
                                                else {
                                                    toastr.error("You have entered wrong password, please try again. User and password is <strong>demo/demo</strong> :)", "Invalid Login!", opts);
                                                    $(form).find('#passwd').select();
                                                }
                                            }
                                        });
                                    }
                                });
                            }
                        });
                        // Set Form focus
                        $("form#login .form-group:has(.form-control):first .form-control").focus();
                    });
                </script>
                <div class="errors-container"> </div>
                <form method="post" role="form" id="login" class="login-form fade-in-effect in" novalidate="novalidate">
                    <div class="login-header"> <a href="#"
                            class="logo"> <h1 style="color: aliceblue; display:inline-block">MyBlog</h1> <span>log
                                in</span> </a>
                        <p>Dear User， 登录后访问后台配置面板</p>
                    </div>
                    <div class="form-group"> <label class="control-label" for="username">Username</label> <input
                            type="text" class="form-control input-dark" name="username" id="username"
                            autocomplete="off"> </div>
                    <div class="form-group"> <label class="control-label" for="passwd">Password</label> <input
                            type="password" class="form-control input-dark" name="passwd" id="passwd"
                            autocomplete="off"> </div>
                    <div class="form-group"> <button type="submit" class="btn btn-dark btn-block text-left"> <i
                                class="fa-lock"></i>
                            登入
                        </button> </div>
                    <div class="login-footer"> <a href="#">忘记密码？</a>
                        <div class="info-links"> <a href="#">服务条款</a> -
                            <a href="#">隐私政策</a> </div>
                    </div>
                </form>
                <!-- <div class="external-login"> <a href="#" class="facebook">
                        <i class="fa-facebook"></i>
                        Facebook Login
                    </a> </div> -->
            </div>
        </div>
    </div>

    <!-- Bottom Scripts -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/TweenMax.min.js"></script>
    <script src="/static/js/resizeable.js"></script>
    <script src="/static/js/joinable.js"></script>
    <script src="/static/js/xenon-api.js"></script>
    <script src="/static/js/xenon-toggles.js"></script>
    <script src="/static/js/jquery.validate.min.js"></script>
    <script src="/static/js/toastr.min.js"></script>
    <!-- JavaScripts initializations and stuff -->
    <script src="/static/js/xenon-custom.js"></script>
</body>


</html>
