{% set open_blog = url_for('seeblog' ,blog_id=blog.id) %}
<div class="xe-widget xe-conversations box2 label-info myblog-card" {# onclick="window.open('{{ open_blog }}', '_self')" #} data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ blog.about }}">
    <div class="xe-comment-entry">
        <div class="my-header">
            
            <a class="xe-user-img" href="{{ open_blog }}">
                {% if blog.logo %}
                <img data-src="{{ url_for('get_logo',filename=blog.logo) }}" class="lozad img-circle" width="40"> 
                {% else %}
                <img src="{{ avatars.default() }}" class="lozad img-circle" width="40">    
                {% endif %}
                
            </a>
            <div class="my-nav">
                <a href="#" class="xe-prev">
                    <i class="fa-angle-left"></i>
                </a>
                <a href="#" class="xe-next">
                    <i class="fa-angle-right"></i>
                </a>
            </div>
        </div>
        <div class="xe-comment">
            <a class="xe-user-name overflowClip_1" href="{{ open_blog }}">
                <strong>{{ blog.name }}</strong>
            </a>
            {# 注意这里需要将多出部分裁剪 #}
            {% set bposts = blog.posts.limit(5).all() %}
            {% for bpost in bposts %}
                {% if loop.index == 1 %}
                <a href="{{url_for('seepost',post_id=bpost.id)}}"><p class="overflowClip_2 post_show">{{ bpost.title }}</p></a>
                {% else %}    
                <a href="{{url_for('seepost',post_id=bpost.id)}}"><p class="post_wait">{{bpost.title}}</p></a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>