<div class="xe-widget xe-status-update" data-auto-switch="5">
    <div class="xe-header">
        <div class="xe-icon"> <i class="fa-twitter"></i> </div>
        <div class="xe-nav"> <a href="#" class="xe-prev"> <i class="fa-angle-left"></i> </a> <a href="#"
                class="xe-next"> <i class="fa-angle-right"></i> </a> </div>
    </div>
    <div class="xe-body">
        <ul class="list-unstyled">
            <li class="" style="opacity: 1;"> <span class="status-date">21 May</span>
                <p>Build your own Fake Twitter Post now! Check it out @ simitator.com #laborator #envato</p>
            </li>
            <li class="" style="opacity: 1;"> <span class="status-date">18 April</span>
                <p> Micro-finance clean water sustainable future Oxfam protect. Enabler meaningful work change-makers.
                </p>
            </li>
            <li class="active" style="opacity: 1;"> <span class="status-date">08 March</span>
                <p>Fight against malnutrition Aga Khan Bloomberg, economic independence inspire breakthroughs benefit
                    civil.</p>
            </li>
        </ul>
    </div>
    <div class="xe-footer"> <a href="#"> <i class="fa-retweet"></i>
            Retweet
        </a> </div>
</div>