<div class="panel panel-default no-mgb mypanel">
    <div class="panel-heading">
        <h3 class="myh4 panel-title"><a href="{{url_for('seepost',post_id=post.id)}}">{{post.title}}</a></h3>
        <div class="panel-options">
            作者：<a href="{{url_for('seeblog' ,blog_id=post.blog.id)}}" >{{post.blog.name}}</a>
        </div>
    </div>
    <div class="panel-body topzero no-pdl mypb">
        <p class="myp">
            <a href="{{url_for('seepost',post_id=post.id)}}">{{post.digest}}</a>
        </p>
    </div>
    
</div>