{% extends 'base.html' %}

{% block title %}MyBlog - About{% endblock %}

{% block color %}
    grey_color
{% endblock color %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">

            <h4 class="text-gray">团队招募</h4>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <blockquote>
                            <p>目前需要招募前端（BootStrap4），APP（Flutter）开发人员</p>
                            <p>如果你对 经验交流 or 极简设计 or 创造分享 感兴趣，请加群联系群主，群号码：<strong>1126037372</strong></p>
                        </blockquote>
                    </div>
                </div>
            </div>

            <!-- 关于网站 -->
            <h4 class="text-gray">关于网站</h4>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <blockquote>
                            <p>某大一学生使用Flask耗时一个月开发完成，主要是因为现有的博客平台不是混乱不堪就是交流性太弱，文章展示质量也是参差不齐</p>
                            <p>平台混乱性使得很多优秀的文章都被埋没了，很多高质量的文章看完极有可能改变你的一生，学习他人的经验也能避免你少走很多弯路</p>
                            <p>所以目前制作这个平台希望能够发掘更多优秀的人优秀的文章，一起学习交流与分享</p>
                            <br><br>
                            <p>目前网站处于BETA阶段，可能有一些BUG，可以加群反馈，我们会尽快完善</p>
                            <p>如果你喜欢看或写博客，学习或分享经验，那么希望这个平台能够给你带来一定的用处</p>
                            <p>闲聊或者有任何建议反馈都可以加QQ群交流，群号码：<strong>1126037372</strong></p>
                        </blockquote>
                    </div>
                </div>
                <!-- 关于站长 -->
                {#<h4 class="text-gray">关于站长</h4>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="xe-widget xe-conversations box2 label-info" onclick="window.open('http://www.viggoz.com/', '_blank')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="http://www.viggoz.com/">
                            <div class="xe-comment-entry">
                                <a class="xe-user-img">
                                    <img src="/static/images/logos/viggoz.png" class="img-circle" width="40">
                                </a>
                                <div class="xe-comment">
                                    <a href="#" class="xe-user-name overflowClip_1">
                                        <strong>Designer. Viggo.</strong>
                                    </a>
                                    <p class="overflowClip_2"> Full-time UI designer with an enduring interest in Coding.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-sm-12">
                                <br />
                                <blockquote>
                                    <p>
                                        这是一个公益项目，而且是<a href="https://github.com/WebStackPage/WebStackPage.github.io"> 开源 </a>的。你也可以拿来制作自己的网址导航。如果你有更好的想法，可以通过个人网站<a href="http://www.viggoz.com"><span class="label label-info" data-toggle="tooltip" data-placement="left" title="" data-original-title="Hello I am a Tooltip">viggoz.com</span></a>中的联系方式找到我，欢迎与我交流分享。
                                    </p>
                                </blockquote>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>#}
            </div>
        </div>
    </div>
</div>
    
{% endblock content %}