{% from '/macro/form.html' import render_field %}
{% extends 'base.html' %}

{% block title %}MyBlog - 博客提交{% endblock %}

{% block color %}
grey_color
{% endblock color %}

{% block content %}

<div id="content" class="container my-4 my-md-5">

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-color panel-blue">

                <div class="panel-heading">
                    <h3 class="panel-title">博客提交</h3>
                </div>
                {#<div class="panel-options">
                    <ul class="nav nav-tabs">
                        <li class="active"> <a href="#person" data-toggle="tab" aria-expanded="true">个人博客</a> </li>
                        <li class=""> <a href="#cnblogs" data-toggle="tab" aria-expanded="false">博客园</a> </li>
                        <li class=""> <a href="#csdn" data-toggle="tab" aria-expanded="false">CSDN</a> </li>
                        <li class=""> <a href="#jianshu" data-toggle="tab" aria-expanded="false">简书</a> </li>
                    </ul>
                </div>#}

                <div class="panel-body">
                    <p class="bg-warning"><a href="{{ url_for('login') }}">提交后可以在后台配置面板解锁更多功能</a></p><br>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <div class="tab-content">
                            <div class="tab-pane active" id="person">
                                <form role="form" method="post" enctype="multipart/form-data">

                                    {{ form.csrf_token }}


                                    <div class="my-2">
                                        {{form.logo.label(class='control-label')}}

                                        <!-- <input type="hidden" value="" id="tougao_sites_ico" class="tougao-sites" name="tougao_sites_ico"> -->
                                        <div class="upload_img">
                                            <div class="show_ico">
                                                <img id="show_blogs_ico" class="show-blogs" src="/static/images/add.png"
                                                    alt="博客图标" style="background-color: #d2d2d2;">
                                                <!-- <i id="remove_sites_ico" class="iconfont icon-close-circle remove-ico remove-sites" data-id="" data-type="ico" style="display: none;"></i> -->
                                            </div>
                                            <!-- <input type="file" id="upload_sites_ico" class="upload_blog_img" data-type="ico" accept="image/*" onchange="uploadImg(this)">-->
                                            {{ form.logo(class='form-control upload_blog_img',id='up_img',onchange="changepic(this)")|safe }}
                                        </div>


                                        {% if form.logo.errors %}
                                        <ul class=errors>
                                            {% for error in form.logo.errors %}
                                            <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </div>

                                    <div class="form-group" style="margin-top: 15px;">
                                        {{render_field(form.name)}}
                                    </div>

                                    <div class="form-group">
                                        {{ render_field(form.url) }}
                                    </div>

                                    <div class="form-group">
                                        {{ render_field(form.email) }}
                                    </div>

                                    <div class="tip"
                                        style="border: 1px solid red; display:none; padding:5px; margin-bottom:15px">
                                        <p class="text-danger">提示：请检查好登录邮箱是否正确再提交博客，只有一次填写机会哦</p>
                                    </div>

                                    <div class="form-group">
                                        {{ render_field(form.categor) }}
                                    </div>

                                    <div class="form-group">
                                        {{ form.platform.label(class='control-label') }}
                                        
                                            <ul class="list-inline">
                                            {% for subfield in form.platform %}
                                            <li class="radio-p">
                                                <label>
                                                    {% if loop.index == 1 %}
                                                    {% set style_form = "cbr-secondary cbr-checked" %}
                                                    {% elif loop.index == 2 %}
                                                    {% set style_form = "cbr-red" %}
                                                    {% elif loop.index == 3 %}
                                                    {% set style_form = "cbr-blue" %}
                                                    {% elif loop.index == 4 %}
                                                    {% set style_form = "cbr-pink" %}
                                                    {% endif %}
                                                    <div class="cbr-replaced cbr-radio {{ style_form }}">
                                                        <div class="cbr-input">{{ subfield(class='cbr') }}</div>
                                                        <div class="cbr-state"><span></span></div>
                                                    </div>
                                                    {{ subfield.label }}
                                                </label>
                                                
                                            </li>
                                            {% endfor %}
                                        </ul>

                                        {% if form.platform.errors %}
                                        <ul class=errors>
                                            {% for error in form.platform.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                        
                                    </div>
                                    
                                    {{ form.submit(class="btn btn-turquoise upblog") }}
                                    <!-- <a type="submit" class="btn btn-turquoise upblog">提交博客</a> -->

                                </form>
                            </div>
                            <!-- person -->
                            {#<div class="tab-pane" id="cnblogs">
                                博客园
                            </div>
                            <div class="tab-pane" id="csdn">
                                CSDN
                            </div>
                            <div class="tab-pane" id="jianshu">
                                简书
                            </div>#}

                        </div>

                    </div>
                    <div class="col-sm-2"></div>


                </div>
            </div>
        </div>
    </div>


</div>


{% endblock content %}

{% block bottomscript %}
{{ super() }}

<script type="text/javascript">
    $(function () {
        $("#email").focus(function () {

            $(".tip").css("display", "block");
        });

        $("#email").blur(function () {
            $(".tip").css("display", "none");
        });

        $(".radio-p").click(function(){
            if(!$(this).find(".cbr-radio").hasClass("cbr-checked")){
                $(".cbr-radio").removeClass("cbr-checked")
                $("input.cbr").removeAttr("checked")
                $(this).find(".cbr-radio").addClass("cbr-checked")
                $(this).find("input.cbr").attr("checked","checked")
            }
        });
    })
</script>

{% endblock bottomscript %}